<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <display-name>Web enrollment</display-name>

    <servlet>
        <servlet-name>ScepRAServlet</servlet-name>
        <display-name>ScepRAServlet</display-name>
        <servlet-class>org.ejbca.extra.ra.ScepRAServlet</servlet-class>
        <init-param>
            <param-name>keyStorePath</param-name>
            <param-value>@jboss.conf.dir@/keystore/sceprakeystore.p12</param-value>
        </init-param>
        <init-param>
            <param-name>keyStorePassword</param-name>
            <param-value>foo123</param-value>
        </init-param>
        <init-param>
            <param-name>cryptProvider</param-name>
            <param-value>BC</param-value>
        </init-param>
        <init-param>
            <param-name>includeCACert</param-name>
            <param-value>1</param-value>
        </init-param>
        
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet>
        <servlet-name>ScepRAServletNoCACert</servlet-name>
        <display-name>ScepRAServletNoCACert</display-name>
        <servlet-class>org.ejbca.extra.ra.ScepRAServlet</servlet-class>
        <init-param>
            <param-name>keyStorePath</param-name>
            <param-value>@jboss.conf.dir@/keystore/sceprakeystore.p12</param-value>
        </init-param>
        <init-param>
            <param-name>keyStorePassword</param-name>
            <param-value>foo123</param-value>
        </init-param>
        <init-param>
            <param-name>cryptProvider</param-name>
            <param-value>BC</param-value>
        </init-param>
        <init-param>
            <param-name>includeCACert</param-name>
            <param-value>0</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
      <servlet-name>ScepRAServlet</servlet-name>
      <url-pattern>/scep/pkiclient.exe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>ScepRAServletNoCACert</servlet-name>
      <url-pattern>/scep/noca/pkiclient.exe</url-pattern>
    </servlet-mapping>



   <env-entry>
      <description><![CDATA[Set to another value if the Scep RA should require a specific password in the SCEP request. Leave as 'none' to not require any password, i.e. allow anything.]]></description>
      <env-entry-name>authPwd</env-entry-name>
      <env-entry-value>none</env-entry-value>
      <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>
   <env-entry>
      <description><![CDATA[The Certificate profile used to register new SCEP users]]></description>
      <env-entry-name>certificateProfile</env-entry-name>
      <env-entry-value>ENDUSER</env-entry-value>
      <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>
   <env-entry>
      <description><![CDATA[The End entity profile used to register new SCEP users]]></description>
      <env-entry-name>entityProfile</env-entry-name>
      <env-entry-value>EMPTY</env-entry-value>
      <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>
   <env-entry>
      <description><![CDATA[The CA used to register new SCEP users]]></description>
      <env-entry-name>defaultCA</env-entry-name>
      <env-entry-value>ScepTest</env-entry-value>
      <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>
   <env-entry>
      <description><![CDATA[Mapping a CAs issuer DN (as from the Admin-GUI), which will be received form the client to a CA name]]></description>
      <env-entry-name>CN=ScepTest</env-entry-name>
      <env-entry-value>ScepTest</env-entry-value>
      <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>

</web-app>
